@import url("https://milbits.github.io/oldcord/src/components/vars.css");
@import url("https://milbits.github.io/oldcord/src/components/color.css");
@import url("https://milbits.github.io/oldcord/src/components/imgs.css");
@import url(https://blade04208.github.io/css/unmodal.css);

div[class*="voiceStatus"] img {
    display: none !important;
}
._4c1e4c295670eb1a-premiumTrialBadge {
    display: none !important;
}
li._972a0d22c8afa7f0-channel a[href="/store"] {
    display: none !important;
}
li._972a0d22c8afa7f0-channel a[href="/shop"] {
    display: none !important;
}
li._972a0d22c8afa7f0-channel a[href="/quest-home"] {
    display: none !important;
}
button[data-migration-pending="true"][aria-label="Input Options"] {
    display: none !important;
}
button[data-migration-pending="true"][aria-label="Output Options"] {
    display: none !important;
}
div._740174f3d6a2c8fe-stickerButton {
    display: none !important;
}
.bioTextArea__6a919 {
    height: max-content;
}
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}
.visual-refresh nav[class*=guilds_] {
    margin-bottom: unset;
}
:root.visual-refresh ._5e434347c823b592-base ._5e434347c823b592-sidebar > ._5e434347c823b592-panels {
    grid-area: panels;
    position: static;
    inset: auto;
}
:root.visual-refresh ._5e434347c823b592-base ._5e434347c823b592-sidebar {
    display: grid;
    grid-template-areas: "guilds sidebar" "guilds panels";
    grid-template-columns: [start] min-content [sidebarStart] 1fr [end];
    grid-template-rows: [start] 1fr [panelsStart] min-content [end];
    width: calc(80px + 240px) !important;
    border-radius: 0;
}
:root.visual-refresh ._5e434347c823b592-base ._5e434347c823b592-sidebar > ._5e434347c823b592-guilds {
    grid-area: guilds;
    margin-bottom: 0;
}
:root.visual-refresh ._5e434347c823b592-base ._5e434347c823b592-sidebar > ._5e434347c823b592-sidebarList {
    grid-area: sidebar;
    width: 240px;
    --custom-app-panels-height: 0;
}
:root.visual-refresh ._5e434347c823b592-base ._5e434347c823b592-sidebar > ._5e434347c823b592-panels {
    grid-area: panels;
    position: static;
    inset: auto;
}
section[class*="container"][aria-labelledby] {
    display: none !important;
}
._7f9c030b25536e94-wishlistBreadcrumb {
    display: none !important;
}
[class*="statusText"],
[class*="statusEmoji"] {
    display: none !important;
}
.ab86098b36386ff7-container {
    display: none !important;
}
