@import url("https://github.com/CalmFor/oldcord-patches/blob/main/src/OldCord%2BPatches.css");
@import url("https://github.com/CalmFor/oldcord-patches/blob/main/src/OldCord-New.css");
@import url("https://github.com/CalmFor/oldcord-patches/blob/main/src/OldCord-imgs.css");
