@import url("https://github.com/CalmFor/oldcord-patches/src/OldCord+Patches.css");
@import url("https://github.com/CalmFor/oldcord-patches/blob/main/src/OldCord-New.css");
@import url("https://github.com/CalmFor/oldcord-patches/blob/main/src/OldCord-imgs.css");
